
# outils de feature_engineering / analyse des data
pandas
numpy
scikit_learn

# outils de visualisation
matplotlib
seaborn

# outils de ML
lightgbm
xgboost
shap
pickle

# outil de gestion des déséquilibres de classe
imbalanced_learn

# outil de gestion du data drift
evidently

# outils MLops
mlflow
pyngrok



